<launch>
  <!-- declare arg to be passed in -->
  <!-- <arg name="use_cpp_node" /> -->

  <!-- start nodelet manager and driver nodelets -->
  <include file="$(find velodyne_driver)/launch/nodelet_manager.launch" />
  <!-- start cloud nodelet -->
  <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="calibration"
         value="$(find velodyne_pointcloud)/params/32db.yaml"/>
  </include>

  <group if="$(arg use_cpp_node)">
  	<node name="filter" pkg="object_tracker" type="filter" respawn="false" output="screen" cwd="ROS_HOME" required="false" />
  </group>

</launch>
